html, body {

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
}

.form-reminder {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba( 21, 21, 21, 0.75);

  padding: 15px;

  -webkit-border-radius:  11px;
  -moz-border-radius:  11px;
  border-radius: 11px;


  label {
    color: #00827c !important;
    font-size: 20px !important;
  }
  button {
    margin-bottom: 20px;
  }

}
.block {
  display: block !important;
}

#hidden {
  display: none !important;
}

.hidden {
  display: none !important;
}